<% if (fiches.length === 0) { %>
    <p>
        Vous n'avez pas encore de fiche de poste.
    </p>
    <p>
        Vous pouvez en créer une <a href="/jobs/add_job">ici</a>.
    </p>
<% } %>

<% fiches.forEach((fiche) => { %>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> <%= fiche.Intitule %> </h5>
            <div class="btn-group" role="group">

                <form method="post" action="/jobs/edit_job">
                    <input type="hidden" name="idFiche" value="<%= fiche.IdFiche %>">
                    <button type="submit" class="btn btn-primary">Editer</button>
                </form>
                <form method="post" action="/jobs/my_jobs">
                    <input type="hidden" name="idFiche" value="<%= fiche.IdFiche %>">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>

            </div>
        </div>
    </div>

<% }); %>