<form id="applicationForm" enctype="multipart/form-data" action="/applications/apply" method="POST">
    <input type="hidden" name="idOffre" value="<%= idOffre %>"/>

    <% if (offre.NombrePieces > 0) { %>
        <div class="mb-3">
            <label for="formFileLg" class="form-label">Télécharger des Pièces Justificatives</label>
            <input class="form-control form-control-lg" id="formFileLg" name="files" type="file" multiple/>
        </div>
        <div id="fileCount" class="mb-3">Pièces justificatives fournies : 0 / <%= offre.NombrePieces %></div>
        <button id="submitButton" type="submit" class="btn btn-secondary" disabled>Postuler</button>
    <% } else { %>
        <button type="submit" class="btn btn-success">Postuler</button>
    <% } %>
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.modal').forEach(modal => {
            modal.addEventListener('shown.bs.modal', () => {
                const fileInput = modal.querySelector('#formFileLg');
                const fileCountDisplay = modal.querySelector('#fileCount');
                const submitButton = modal.querySelector('#submitButton');

                if (fileInput) {
                    fileInput.addEventListener('change', () => {
                        const files = fileInput.files;
                        const fileCount = files.length;
                        fileCountDisplay.textContent = `Pièces justificatives fournies : ${fileCount} / <%= offre.NombrePieces %>`;

                        if (fileCount === <%= offre.NombrePieces %>) {
                            submitButton.classList.remove('btn-secondary');
                            submitButton.classList.add('btn-success');
                            submitButton.disabled = false;
                        } else {
                            submitButton.classList.remove('btn-success');
                            submitButton.classList.add('btn-secondary');
                            submitButton.disabled = true;
                        }
                    });
                }
            });
        });
    });
</script>
