<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Ajouter une Offre</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">
<%- include('../navbar.ejs') %>
<div class="tw-container tw-mx-auto tw-my-8 tw-px-4 sm:tw-px-6 lg:tw-px-8">
    <%- include('../message.ejs') %>
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <h1 class="tw-mb-4 tw-text-4xl tw-font-bold tw-text-gray-800 tw-text-center">Ajouter une Offre</h1>
            <%- include('../forms/create_offer_form.ejs') %>
        </div>
    </div>
</div>
</body>
</html>
