<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs')%>
    <title>Fiches de Poste</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">

<%- include('../navbar.ejs') %>
<%- include('../message.ejs') %>

<div class="tw-container tw-mt-5 tw-mx-auto">
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <h2 class="tw-mb-3 tw-text-3xl tw-font-bold tw-text-gray-800 tw-text-center">Création de Fiche de Poste</h2>
            <%- include('../forms/create_job_form.ejs') %>
        </div>
    </div>
</div>

</body>
</html>
