<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Offres d'Emploi</title>
</head>
<body>

<%- include('../navbar.ejs') %>

<%- include('../notification.ejs') %>

<div class="container mt-5">
    <div class = "row">
        <div class="col-md-6 offset-md-3">
            <h1>Parcourir les Offres</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <%- include('../listings/browse_offers.ejs') %>
        </div>
    </div>
</div>

</body>
</html>