<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Modifier l'Offre</title>
</head>
<body>
<%- include('../navbar.ejs') %>
<div class="container mt-5">
    <%- include('../message.ejs') %>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Éditer l'Offre d'Emploi</h1>
            <%- include('../forms/edit_offer_form', { offre, fiches }) %>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
