<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Modifier la Fiche de Poste</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">

<%- include('../navbar.ejs') %>

<div class="tw-container tw-mt-5 tw-mx-auto">
    <%- include('../message.ejs') %>
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <h1 class="tw-mb-4 tw-text-4xl tw-font-bold tw-text-gray-800 tw-text-center">Éditer la Fiche de Poste</h1>
            <%- include('../forms/edit_job_form', { fiche, organisations }) %>
        </div>
    </div>
</div>

</body>
</html>
