<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Voir les Offres de l'Organisation</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">
<%- include('../navbar.ejs') %>

<div class="tw-container tw-mt-5 tw-mx-auto">
    <%- include('../message.ejs') %> <!-- Inclusion des messages -->
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <h1 class="tw-mb-4 tw-text-4xl tw-font-bold tw-text-gray-800 tw-text-center">Offres de mon Organisation</h1>
        </div>
    </div>
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <%- include('../listings/my_offers.ejs') %>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
