<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Liste des Organisations</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">
<%- include('../navbar.ejs') %>
<div class="tw-container tw-mx-auto tw-my-8 tw-px-4">
    <%- include('../message.ejs') %>
    <div class="tw-mb-8">
        <h1 class="tw-mb-4 tw-text-4xl tw-font-bold tw-text-gray-800">Liste des Organisations</h1>
        <%- include('../listings/organisations_list.ejs', { search, currentPage, totalPages, organisations }) %>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
