<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Historique des Demandes</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">
<%- include("../navbar.ejs") %>
<div class="tw-container tw-mx-auto tw-my-8 tw-px-4">
    <%- include("../message.ejs") %>
    <div class="tw-mb-8">
        <h1 class="tw-mb-4 tw-text-4xl tw-font-bold tw-text-gray-800">Historique des Demandes</h1>
        <div class="tw-mb-3">
            <a href="/organizations/manage_requests?showHistory=false" class="tw-bg-blue-500 hover:tw-bg-blue-700 tw-text-white tw-px-4 tw-py-2 tw-rounded-md">
                Demandes en attente
            </a>
        </div>
        <%- include('../listings/manage_history_requests.ejs', { search, currentPage, totalPages, requests }) %>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
