<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Mes Candidatures</title>
</head>
<body>

<%- include('../navbar.ejs') %>

<%- include('../message.ejs') %>

<div class="container mt-5">
    <div class = "row">
        <div class="col-md-6 offset-md-3">
            <h1>Mes Candidatures</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <%- include('../listings/outgoing_applications.ejs') %>
        </div>
    </div>
</div>

</body>
</html>