<div class="tw-px-4 tw-py-2">
    <p class="tw-text-gray-800 tw-mb-4">Êtes-vous sûr de vouloir supprimer cette fiche de poste et toutes les offres associées ?</p>
    <div class="tw-flex tw-justify-end">
        <button type="button" class="tw-bg-gray-500 tw-text-white tw-px-4 tw-py-2 tw-rounded-md hover:tw-bg-gray-600 focus:tw-outline-none tw-mr-2" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="tw-bg-red-500 tw-text-white tw-px-4 tw-py-2 tw-rounded-md hover:tw-bg-red-600 focus:tw-outline-none" id="confirmDeleteButton">Supprimer</button>
    </div>
</div>
