<div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer cette fiche de poste et toutes les offres associées ?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Supprimer</button>
</div>
