<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('head.ejs') %>
    <title>Erreur</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">
<div class="tw-container tw-mx-auto tw-mt-10">
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full md:tw-w-2/3 lg:tw-w-1/2">
            <div class="tw-bg-white tw-shadow-md tw-rounded-lg">
                <div class="tw-bg-gradient-to-r tw-from-red-500 tw-via-red-600 tw-to-red-700 tw-text-white tw-p-4 tw-rounded-t-lg">
                    <h1 class="tw-text-2xl tw-font-bold">Erreur</h1>
                </div>
                <div class="tw-p-6">
                    <h2 class="tw-text-xl tw-font-semibold"><%= message ? message : "Erreur non spécifiée" %></h2>
                    <h4 class="tw-text-lg tw-mt-2">Status: <%= error && error.status ? error.status : "Non disponible" %></h4>
                    <pre class="tw-bg-gray-200 tw-p-3 tw-rounded-md tw-mt-4"><%= error && error.stack ? error.stack : "Pas de stacktrace disponible" %></pre>
                    <p class="tw-mt-4">
                        Une erreur est survenue.
                        <br>
                        Veuillez contacter l'administrateur du site si le problème persiste.
                    </p>
                    <a href="/" class="tw-inline-block tw-mt-4 tw-bg-blue-500 tw-text-white tw-px-4 tw-py-2 tw-rounded-md hover:tw-bg-blue-600 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-blue-500">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
