<h1><%= message ? message : "Erreur non spécifiée" %></h1>
<h2><%= error && error.status ? error.status : "Non disponible" %></h2>
<pre><%= error && error.stack ? error.stack : "Pas de stacktrace disponible" %></pre>

<p>
    Erreur ultra mega grave mais gérée nulle côté code.
    <br>
    Flemme de faire marcher.
    <br>
    Désactivé car rend les logs illisibles.
</p>