<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('head.ejs')%>
    <title>Connexion</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-3">Connexion</h2>
            <% if (locals.errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
            <br>
            <br>
            <a href="/register">NOT REGISTERED ????? WELL YOU CAN DO THAT HERRRRR ?!</a>
            <br>
            <br>

            <form id="fastLoginForm" action="/login" method="POST">
                <input id="email" name="email" value="paty@paty.com" type="hidden">
                <input id="password" name="password" value="password" type="hidden">
                <button type="submit" class="btn btn-primary">Fast Login</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.cookie = "userEmail=; SameSite=Lax; path=/";
</script>
</body>
</html>
