<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Plateforme de Recrutement</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs/add_job">Ajouter un Poste</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/jobs/add_offer">Ajouter une Offre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs/browse_offers" id="espaceRecruteur">Postuler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applications/my-applications">Voir mes Candidatures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applications/incoming-applications">Voir les Candidatures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs/my_offers">Voir mes Offres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/view">Mon Profil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>