<form action="<%= activePage %>" method="get" class="mb-4">
    <div class="input-group">
        <input type="hidden" name="showHistory" value="<%= typeof showHistory !== 'undefined' ? showHistory : 'false' %>">
        <input type="text" name="search" class="form-control" placeholder="<%= placeholder %>" value="<%= search %>">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</form>
