<%- include('navbar.ejs') %>

<div class="container mt-5">
    <h1 class="mb-4">USERS</h1>

    <%- include('table_view.ejs') %>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
