<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Liste des Utilisateurs</title>
</head>
<body>
<%- include('../navbar.ejs') %>
<%- include('../message.ejs') %>
<div class="container my-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="mb-4">Liste des Utilisateurs</h1>
            <%- include('../listings/userslist.ejs', { search, currentPage, totalPages, users }) %>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
