<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Connexion</title>
</head>
<body>

    <%- include('../navbar.ejs') %>

    <h1>View profile <%= user %></h1>

</body>
</html>