<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Connexion</title>
</head>
<body>
<div class="container mt-5">
    <%- include("../message.ejs") %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-3">Connexion</h2>

            <%- include('../forms/login_form.ejs') %>

            <br><br>
            <a href="/register">NOT REGISTERED ????? WELL YOU CAN DO THAT HERRRRR ?!</a>
            <br><br>

            <form id="fastLoginForm" action="/login" method="POST">
                <input id="email" name="email" value="test@test.com" type="hidden">
                <input id="password" name="password" value="password" type="hidden">
                <button type="submit" class="btn btn-primary">Fast Login</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
