<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Connexion</title>
    <style>
        @keyframes pulse {
            0%, 100% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
            }
            50% {
                transform: scale(1.05);
                box-shadow: 0 0 20px 10px rgba(59, 130, 246, 0);
            }
        }
        .animate-pulse {
            animation: pulse 2s infinite;
        }
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        .gradient-animation {
            background: linear-gradient(-45deg, #ff7e5f, #feb47b, #ff6f69, #ffcc5c);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }
    </style>
</head>
<body class="tw-bg-gradient-to-r tw-from-purple-400 tw-via-pink-500 tw-to-red-500 tw-flex tw-items-center tw-justify-center tw-min-h-screen gradient-animation">
<div class="tw-container tw-mx-auto tw-p-4">
    <%- include("../message.ejs") %>
    <div class="tw-max-w-md tw-w-full tw-mx-auto tw-bg-white tw-rounded-lg tw-shadow-2xl tw-p-8 tw-transition tw-duration-500 tw-transform hover:tw-scale-105">
        <h2 class="tw-text-3xl tw-font-extrabold tw-mb-5 tw-text-center tw-text-gray-800">Connexion</h2>
        <%- include("../forms/login_form.ejs") %>
        <div class="tw-mt-6 tw-text-center">
            <a href="/register"
               class="tw-inline-block tw-bg-green-500 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-transition tw-duration-300 tw-ease-in-out transform hover:tw-bg-green-600 animate-pulse">
                Inscription
            </a>
        </div>
    </div>
</div>
</body>
</html>
