<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Inscription</title>
    <style>
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        .gradient-animation {
            background: linear-gradient(-45deg, #ff7e5f, #feb47b, #ff6f69, #ffcc5c);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }
    </style>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal gradient-animation">
<div class="tw-container tw-mx-auto tw-my-10 tw-p-5">
    <%- include("../message.ejs") %>
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full md:tw-w-2/3 lg:tw-w-1/2 tw-bg-white tw-rounded-lg tw-shadow-lg tw-p-8">
            <h2 class="tw-text-3xl tw-font-semibold tw-mb-6 tw-text-center tw-text-gray-800">Inscription</h2>
            <%- include('../forms/registration_form.ejs') %>
        </div>
    </div>
</div>

</body>
</html>
