<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="signup-container">
    <h2>Inscription</h2>
    <form action="/submit-your-form-endpoint" method="POST">
        <div class="input-group">
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname" required>
        </div>
        <div class="input-group">
            <label for="name">Nom</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+">
        </div>
        <div class="input-group">
            <label for="confirm-email">Confirmez l'email</label>
            <input type="email" id="confirm-email" name="confirm-email" required pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+">
        </div>
        <div class="input-group">
            <label for="phone">Numéro de téléphone</label>
            <input type="tel" id="phone" name="phone" required pattern="[0-9]{10}">
        </div>
        <div class="input-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <button type="submit">S'inscrire</button>
        </div>
    </form>
</div>
</body>
</html>
